html {
    position: relative;
    min-height: 100%;
}
body {
    background-image: url(../imgs/fundo1.png);
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
}

.col-lg-4 {
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
}
.p-font {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}
.p-font-priceUpgrade {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: darkmagenta;
}
.p-font-upgrade {
    font-family: 'Press Start 2P', cursive;
    padding: 15px;
    font-size: 10px;
}
#resources {
    margin: 10px;
}  
.img-rad{
    border-radius: 100%;
}

#upgrades {
    margin: auto;
    margin-top: 20px; 
}
.upgrade {
    border: solid 1px white;
    border-radius: 50px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    box-sizing: border-box;
}
.buttonbuy {
    width:100; 
    height:40;
    padding: 10px;
    background-color: darkmagenta;
    border-radius: 15px;
    cursor: pointer;
}

.priceA1 {
    padding: 0;
    margin: 10px;
    margin-left: 0;
    font-family: 'Press Start 2P', cursive;
}
.priceB1 {
    padding: 0;
    margin: 10px;
    margin-left: 0; 
    font-family: 'Press Start 2P', cursive;
}
#robot-chao {
    position: absolute;
    bottom: 5px;
    padding: 10px;
}