body {
    height:100%;
    background-color: yellow;
}
#body-geral {
      min-height: 100%;
      position: relative;
      background-color: yellow;
}

.col-sm-4 {
    background: #FFF;
    text-align: center;
    padding: 15px;
    padding-bottom: 100px;
    margin: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.col-md-2 {
    background: #FFF;
    text-align: center;
    padding: 15px;
    padding-bottom: 25px;
    margin: 20px;
    border-radius: 10px;
    float: left;
}

.p-font {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}
.p-font-priceUpgrade {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: darkmagenta;
}
.p-font-upgrade {
    font-family: 'Press Start 2P', cursive;
    padding: 15px;
    font-size: 10px;
}
#resources {
    margin: 10px;
}  
.img-rad{
    border-radius: 100%;
}
#firstrobot {
    width: 100px;
    height: 100px;
}
#upgrades {
    width: 380px;
}
.upgrade {
    border: 10px solid darkmagenta;
    border-left: none;
    border-right: none;
    margin: 10px;
    padding: 10px;
}
.buttonbuy {
    width:100; 
    height:40;
    padding: 10px;
    background-color: darkmagenta;
    border-radius: 15px;
    cursor: pointer;
}
.buttonfio {
    width:70; 
    height:40;
    float: left;
    padding: 10px;
}
.buttoncircuito {
    width:70; 
    height:40;
    float: left;
    padding: 10px;
}
.priceA1 {
    padding: 0;
    margin: 10px;
    margin-left: 0;
    font-family: 'Press Start 2P', cursive;
}
.priceB1 {
    padding: 0;
    margin: 10px;
    margin-left: 0; 
    font-family: 'Press Start 2P', cursive;
}