#res {
    min-height: 100%;
}
#resources {
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}  
#fios {
    padding: 15px;
    margin-left: 10px;
}
#circuitos {
    padding: 15px;
}
#energia {
    padding: 15px;
}
#qtfios {
    padding: 0;
    float: right;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}
#qtcircuitos {
    padding: 0;
    float: right;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}
#qtenergia {
    padding: 0;
    float: right;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}
#qtenergiasec {
    padding: 0;
    float: right;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

#pointclick {
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;  
    position: absolute;
    left:0 ;
    bottom: 5px;
}
.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#img-click {
    width: 90%;
    height: 30%;
}